@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

*{
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0 0 10px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.accessibility {
    position: absolute;
    top: auto;
    max-width: 1px;
    height: 1px;
    overflow: hidden;
}

.accessibility:focus {
    position: static;
    max-width: auto;
    height: auto;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 75%;
    margin-left: 245px;
    margin-right: auto;
    margin-top: 24px;

}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

.logo img {
    max-height: 40px;
    color: black;
    font-weight: bold;
}

.logo{
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    flex-wrap: nowrap;
    align-items: center;
}

nav ul li {
    margin-top: 7px;
    margin-right: 38px;
    padding: 1px;
    letter-spacing: -0.1px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

nav ul li a.signup {
    color: #fff;
    background-color: #5c5cfa;
    padding: 40px;
    border-radius: 20px;
}

nav ul li a.signup:hover {
    background-color: #4a4af5;
}

.separator {
    display: inline-block;
    width: 1px;
    height: 20px;
    background-color: black;
    vertical-align: middle;
    margin-right: 20px;
    margin-left: 2px;
  }
  

.sign-up {
    background-color: #4a4aff;
    color: white;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.Sign-Up:hover {
    background-color: #3b3bff;
}

.navlist{
    display: flex;
}

.navbar-list{
    display: flex;
    margin-left: 220px;
}

.log{
    display: flex;
    margin: 0;
}

.hero-text .container {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
    margin-left: 190px;
    margin-bottom: 58px;
}

.hero-text .container .heading {
    font-size: 60px;
    font-weight: bold;
    min-width: 241px;
    min-height: 65px;
    line-height: 65px;
    letter-spacing: -2px;
    margin-bottom: 50px;
}

.hero-text .container .para{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    font-size: 19px;
    line-height: 32px;
    letter-spacing: -0.2px;
}

.hero-image .container{
    display: flex;
    justify-content: center;
    margin-bottom: 141px;
}

.hero-after-text {
 margin-bottom: 87px;  
}

.layout-container {
    display: flex;
    flex-wrap: wrap;
}

.layout-column {
    flex: 1;
    padding: 0 61px 0 0;
    background-color: #fff;
}


.layout-column h2 {
    font-size: 48px;
    font-weight: 800;
    line-height: 58px;
    letter-spacing: -1.8px;
}

.layout-column p {
    font-size: 19px;
    line-height: 32px;
    letter-spacing: -0.2px;
    padding-top: 10px;
}

.image-collage {
    background-color: #F4F7FA;
    margin-bottom: 107px;
}

.image-collage .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.image-grid {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.image-grid img {
    max-height: 275px;
    max-width: 224px;
    padding: 13px;
    object-fit: cover;
}

.image-collage-text {
    display: flex;
    flex-direction: column;
    padding-top: 200px;
    margin-left: 50px;
}

.img-head h2 {
    font-size: 48px;
    max-width: 385px;
    max-height: 116px;
    letter-spacing: -1.8px;
    line-height: 58px;
}

.img-para p {
    font-size: 19px;
    max-width: 495px;
    max-height: 258px;
    padding-top: 50px;
    letter-spacing: -0.2px;
    line-height: 32px;
}


.team-section{
    margin-top: 107px;
    margin-bottom: 107px;
}

.team-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    margin-bottom: 50px;
}

.team-header h2 {
    font-size: 48px;
    margin-bottom: 25px;
}

.team-header p {
    font-size: 19px;
    text-align: center;
    flex-wrap: wrap;
    max-width: 610px;
    height: 69px;
    line-height: 32px;
    letter-spacing: -0.2px;

}

.team-grid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.team-member {
    background-color: #fff;
    overflow: hidden;
    text-align: left;
    max-width: 267px;
    max-height: 452px;
    padding: 15px;
}

.team-member img {
    max-width: 267px;
}

.member-info {
    padding: 15px;
}

.member-info h3 {
    margin: 10px 0 5px;
    font-size: 18px;
    color: #333;
}

.member-info p {
    margin: 0;
    font-size: 14px;
    color: #777;
}

.team-cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    max-width: 200px;
    padding: 20px;
}

.team-cta p {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}

.apply-link {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    color: #473BF0;
    text-decoration: none;
    font-weight: bold;
}

.apply-link svg {
    margin-left: 5px;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

h4 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #777;
}

.footer {
    background-color: #161C2D;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    border-top: 1px solid #161C2D;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.footer-section {
    max-width: 18%;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section a {
    color: #fff;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}

.footer-section-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #FFFFFF;
    opacity: 0.66;
}

.social-networks {
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-networks li {
    margin: 0;
}

.social-networks a {
    color: white;
    font-size: 18px;
    text-decoration: none;
}

.social-networks a:hover {
    color: #1082E9;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #161C2D;
    border-top: 1px solid #161C2D;
    color: #fff;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.footer-bottom p {
    margin: 0;
    font-size: 14px;
}

.footer-bottom a {
    color: #1082E9;
}

.footer-bottom a:hover {
    text-decoration: underline;
}

svg {
    vertical-align: middle;
}
